<footer class="site-footer-custom">
  <p><strong>MoonWalker Project: Digital Twins</strong></p>
  <p>California State University, Northridge Senior Design Project</p>
  <p>
    <a href="{{ site.csun.website }}">CSUN Website</a> |
    <a href="{{ site.csun.facebook }}">Facebook</a> |
    <a href="{{ site.csun.twitter }}">Twitter/X</a> |
    <a href="{{ site.csun.instagram }}">Instagram</a> |
    <a href="{{ site.csun.linkedin }}">LinkedIn</a>
  </p>
  <p>
    <a href="{{ site.csun.seniorDesign }}">Dr. Xunfei Jiang's Senior Design Projects</a>
  </p>
  <div class="site-csun-logo">
	<img src="{{ site.images.csunlogo | relative_url }}" alt="CSUN Logo" class="site-logo">
  </div>
</footer>